<section class="widget subscribe">
    <div class="widget-icon">
        {{ partial "helper/icon" "subscribe" }}
    </div>
    <h2 class="widget-title section-title">{{ T "widget.subscribe.title" }}</h2>
    <div class="widget-subscribe">
        <script id="mcjs">!function(c,h,i,m,p){m=c.createElement(h),p=c.getElementsByTagName(h)[0],m.async=1,m.src=i,p.parentNode.insertBefore(m,p)}(document,"script","https://chimpstatic.com/mcjs-connected/js/users/8bf863c68b2253c9b87e3b5c4/89f5eaa80e5486f692d37976d.js");</script>
        <a class="subscribe-label">
            {{ T "widget.subscribe.label" }} 
        </a>
        <a class="subscribe-link" href={{.Site.Params.widgets.subscribe.tinyletter}} title="🔥🔥🔥"> 
            {{"Subscribe now!"}}
        </a>
    </div>
</section>
